exportPattern("LoadData","getPIC","getPIC.kmeans","getPIP","getPIP.kmeans","PICset","PICset.kmeans",
              "getTICs","viewTICs","getMS","viewMS","viewPICs","PICdetection","PICsplit","getPeaks",
              "PICresolve","PICfit","PICset.detection","PICset.split","PICset.resolve","PICset.getPeaks")
importFrom(Rcpp, evalCpp)
importFrom("stats", "approx", "fft", "median", "mvfft", "quantile", "sd")
useDynLib(KPIC2)
